<div id="<%= dom_id(group) %>" class="empty-group hidden col-sm-3 col-md-2">
  <div class="thumbnail">
    <%= image_tag('placeholder.png') %>

    <div class="caption">
      <h4 class="truncate"><%= group.name %></h4>

      <%= render 'manage_dropdown', group: group %>
    </div>
  </div>
</div>
