<div id="<%= dom_id(group) %>" class="empty-group hidden col-sm-3 col-md-2">
  <div class="thumbnail">
    <%= image_tag('placeholder.png') %>

    <div class="caption">
      <h4 class="truncate"><%= group.name %></h4>

      <%= link_to(group, method: :delete, class: 'manage-link hidden', remote: true, data: { confirm: 'Delete this group?' }) do %>
        <i class="text-danger fa fa-2x fa-trash"></i><% end %>
    </div>
  </div>
</div>
