<div id="<%= dom_id(group) %>" class="col-sm-3 col-md-2">
  <div class="thumbnail">
    <%= link_to(image_tag(group.cover_image_thumb), group) %>

    <div class="reading-icon">
      <% if group.read? %>
        <i class="text-success fa fa-2x fa-check"></i>
      <% elsif group.reading? %>
        <i class="fa fa-2x fa-eye"></i>
      <% end %>
    </div>

    <div class="caption">
      <h4 class="truncate">
        <%= group.name %>
      </h4>

      <%= render 'manage_dropdown', group: group %>
    </div>
  </div>
</div>
