<div class="row hidden-xs hidden-sm" style="margin-bottom: 5px;">
  <div class="col-md-6 col-sm-8">
    <%= link_to('Manage Groups', '#!', id: 'manage-groups', class: 'btn btn-sm btn-default', data: { manage: false }) %>
    <%= link_to('Remove Read Comics', delete_read_comics_path, method: :delete, class: 'manage-link hidden btn btn-sm btn-warning', data: { confirm: 'Remove all read comics?' }) %>
  </div>
</div>

<% @groups.each_slice(4) do |row| %>
  <div class="row">
    <% row.each do |group| %>
      <% if group.has_comics? %>
        <%= render 'group', group: group %>
      <% else %>
        <%= render 'empty_group', group: group %>
      <% end %>
    <% end %>
  </div>
<% end %>
