<%= render 'nav' %>

<% if @groups.present? %>
  <% @groups.each_slice(4) do |row| %>
    <div class="row">
      <% row.each do |group| %>
        <%# TODO: Add these partials. %>
        <% if group.has_comics? %>
          <%#= render 'group', group: group %>
        <% else %>
          <%#= render 'empty_group', group: group %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="row mt-3">
    <div class="col-md-auto">
      <div class="card">
        <div class="card-header">No Comics</div>

        <div class="card-body">
          <%= link_to(new_comic_path, class: 'btn btn-lg btn-outline-success') do %>
            <i class="bi bi-cloud-arrow-up"></i> Upload Some!
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
