<% content_for :navbar do %>
  <li>
    <%= link_to(delete_read_comics_path, method: :delete, class: 'manage-link hidden', data: { confirm: 'Remove all read comics?' }) do %>
      <i class="fa fa-fw fa-eye-slash"></i> Remove Read Comics
    <% end %>
  </li>

  <li>
    <%= link_to('#!', id: 'manage-groups', data: { manage: false }) do %>
      <i class="fa fa-cog"></i> <span>Manage Groups</span>
    <% end %>
  </li>
<% end %>

<% @groups.each_slice(4) do |row| %>
  <div class="row">
    <% row.each do |group| %>
      <% if group.has_comics? %>
        <%= render 'group', group: group %>
      <% else %>
        <%= render 'empty_group', group: group %>
      <% end %>
    <% end %>
  </div>
<% end %>
