<% content_for(:navbar) do %>
  <li><%= link_to(@group.name, @group) %></li>
  <li role="separator" class="divider"></li>

  <li class="hidden-sm hidden-xs">
    <%= link_to(@group, method: :delete, data: { confirm: 'Delete this group?' }) do %>
      <i class="fa fa-lg fa-trash text-danger"></i>
    <% end %>
  </li>

  <li class="hidden-sm hidden-xs">
    <%= link_to(delete_comics_group_path(@group), method: :delete, data: { confirm: 'Remove all comics in this group?' }) do %>
      <i class="fa fa-lg fa-times text-warning"></i>
    <% end %>
  </li>
<% end %>

<% @comics.each_slice(4) do |row| %>
  <div class="row">
    <% row.each do |comic| %>
      <%= render 'comic', comic: comic %>
    <% end %>
  </div>
<% end %>
