<%= form_for(current_user.comics.build, html: { multipart: true }) do |f| %>
  <div class="row">
    <div class="file-field input-field col s12">
      <div class="btn blue">
        <span>Choose Files</span>
        <input
           id="comic-upload"
           type="file"
           name="comics[][archive]"
           multiple
           data-url="<%= comics_path %>"
         />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <button id="start-upload" type="button" class="btn">Start</button>
      <button id="stop-uploads" type="button" class="btn grey">Stop</button>
    </div>
  </div>
<% end %>

<div class="progress">
  <div id="total-progress" class="determinate" style="width: 0%;"></div>
</div>

<div class="row">
  <ul id="upload-results" class="col s6 collection hide">
  </ul>
</div>
