<%= form_for(@comic, html: { multipart: true }) do |f| %>
  <div class="row">
    <div class="file-field input-field col s12">
      <div class="btn">
        <span>Upload <i class="material-icons right">send</i></span>
        <input
           id="comic-upload"
           type="file"
           name="comics[][archive]"
           multiple
           data-url="<%= comics_path %>"
         />
      </div>
    </div>
  </div>
<% end %>

<div class="progress hide">
  <div class="determinate" style="width: 0%;"></div>
</div>

<div class="row">
  <ul id="upload-results" class="col s6 collection hide">
  </ul>
</div>
