<%= form_for(current_user.comics.build, html: { multipart: true }) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <select name="comics[][group_id]" class="form-control" id="comic_group_id">
          <option value="" selected>Group...</option>
          <%= options_from_collection_for_select(@groups, :id, :name) %>
        </select>
        <span class="error text-danger"></span>

        <span class="input-group-btn">
          <%= link_to('#add-group', class: 'btn btn-default') do %>
            <i class="fa fa-plus"></i>
          <% end %>
        </span>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 15px;">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <input
           id="comic-upload"
           type="file"
           name="comics[][archive]"
           multiple
           data-url="<%= comics_path %>"
         />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <button id="start-upload" type="button" class="btn btn-primary">Start All</button>
      <button id="stop-uploads" type="button" class="btn btn-default">Stop All</button>
    </div>
  </div>
<% end %>

<div class="row" style="margin-top: 15px;">
  <div class="col-md-6 col-md-offset-3">
    <div class="progress">
      <div id="total-progress" class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul id="upload-results" class="list-group hidden">
    </ul>
  </div>
</div>
