<div class="row">
  <% @comic.each do |comic| %>
    <div class="col s3">
      <div class="card hoverable">
        <div class="card-image">
          <%= link_to(image_tag(comic.pages.first.image.url(:thumb)), comic) %>
        </div>

        <div class="card-content">
          <span class="card-title activator"><i class="material-icons right">more_vert</i></span>

          <div>
            <% if comic.read? %>
              <i class="fa fa-lg fa-check green-text"></i>
            <% else %>
              Page: <%= comic.pages.first_unread.number %> / <%= comic.pages.count %>
            <% end %>
          </div>
        </div>

        <div class="card-reveal">
          <span class="card-title"><i class="material-icons right">close</i></span>
          <p>Pages: <%= comic.pages.count %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
