<div class="row">
  <% @comic.each do |comic| %>
    <div class="col s3">
      <div class="card hoverable">
        <div class="card-image">
          <%= link_to(image_tag(comic.pages.first.image.url(:thumb)), comic) %>
        </div>

        <div class="card-action">
          actions go here
        </div>
      </div>
    </div>
  <% end %>
</div>
