<% @comic.each_slice(3) do |row| %>
  <div class="row">
    <% row.each do |comic| %>
        <div class="col s4">
          <div class="card hoverable">
            <div class="card-image">
              <%= link_to(image_tag(comic.pages.first.image.url(:thumb)), read_comic_path(comic)) %>
            </div>

            <div class="card-content">
              <div>
                <%= link_to(comic, class: 'waves-effect waves-light btn-floating btn-large blue') do %>
                  <i class="material-icons">view_carousel</i>
                <% end %>

                <%= link_to(comic, class: 'waves-effect waves-light btn-floating btn-large red', method: :delete, data: { confirm: 'Delete this comic?' }) do %>
                  <i class="material-icons">delete</i>
                <% end %>

                <span class="right">
                  <% if comic.read? %>
                    <i class="fa fa-lg fa-check green-text"></i>
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
<% end %>
