<% content_for(:navbar) do %>
  <li class="active">
    <%= link_to(new_comic_path) do %>
      <i class="fa fa-cloud-upload"></i> Upload Comics
    <% end %>
  </li>

  <li>
    <%= link_to('#add-group', data: { toggle: 'modal', target: '#new-group-modal' }) do %>
      <i class="fa fa-plus"></i> New Group
    <% end %>
  </li>
<% end %>

<%= render 'form' %>
