<% content_for(:navbar) do %>
  <li><%= link_to(@comic.group.name, @comic.group) %></li>
  <li><%= link_to(@comic.filename, @comic) %></li>
<% end %>

<% @comic.pages.each_slice(4) do |row| %>
  <div class="row">
    <% row.each do |page| %>
      <div class="col-sm-3 col-md-2">
        <div class="thumbnail">
          <%= link_to(thumb_or_placeholder_image_tag(page.image), [@comic, page]) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
