<% flash.each do |name, message| -%>
  <%
    alert_class = case name.to_sym
                  when :alert
                    'alert-danger'
                  when :notice
                    'alert-success'
                  else
                    'alert-info'
                  end

    css_class = %Q[
      app-message
      alert alert-dismissible #{alert_class}
      position-fixed top-0 start-50
      w-50
    ]
  %>

  <%= content_tag(:div, class: css_class, role: 'alert') do %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <%= message %>
  <% end %>
<% end -%>
