<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul>
        <li>
          <%= link_to(root_path) do %>
            <i class="material-icons">view_carousel</i>
          <% end %>
        </li>

        <%= content_for(:navbar) %>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to(new_comic_path) do %>
            <i class="material-icons">open_in_browser</i>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>
