<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to('Comics', root_path, class: 'brand-logo') %>

      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to(new_comic_path) do %>
            <i class="material-icons">open_in_browser</i>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>
